<p-toolbar>Mr Matheus</p-toolbar>

<div class="login-container" style="margin: 8rem">
  <div *ngIf="isLoggingIn">
    <p-button
      label="products"
      severity="success"
      [routerLink]="['/products']"
    />
  </div>
  <br />
  <br />
  <p-floatLabel>
    <input
      id="login"
      type="email"
      pInputText
      [(ngModel)]="login"
      placeholder="email"
    />
    <label for="login"></label>
  </p-floatLabel>
  <br />

  <p-floatLabel>
    <input
      id="senha"
      type="password"
      pInputText
      [(ngModel)]="senha"
      placeholder="senha"
    />
    <label for="senha"></label>
  </p-floatLabel>
  <br />

  <p-button label="login" severity="success" (click)="loginSent()" />

  <p-button
    label="register"
    severity="secondary"
    [routerLink]="['/register']"
  />
</div>
