<div class="login-container" style="margin: 8rem">
  <p-floatLabel>
    <input id="" type="" pInputText placeholder="name" />
    <label for=""></label>
  </p-floatLabel>
  <br />

  <p-floatLabel>
    <input id="" type="" pInputText placeholder="login" />
    <label for=""></label>
  </p-floatLabel>

  <br />
  <p-floatLabel>
    <input id="" type="" pInputText placeholder="senha" />
    <label for=""></label>
  </p-floatLabel>
  <br />

  <p-button label="register" severity="success" [routerLink]="['']" />
</div>
