<!-- <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Conteúdo expandido</h5>
      <span class="text-muted">Expansível, atráves da marca no navbar.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="login-container" style="margin: 8rem">
  <input type="login" placeholder="Login" [(ngModel)]="login" />
  <br /><br />
  <input type="senha" placeholder="Senha" [(ngModel)]="senha" />
  <br /><br />
  <button (click)="loginSent()">Entrar</button>
</div>

<div style="display: flex" *ngIf="isLoggingIn == true">
  <div style="margin: 8rem; width: 40rem">
    <form [formGroup]="sentAvaliation">
      <div class="form-group" style="margin-bottom: 2rem">
        <label style="padding-bottom: 1rem">AGE</label>
        <input
          type="age"
          class="form-control"
          placeholder="18"
          formControlName="age"
        />
      </div>

      <div class="form-group" style="margin-bottom: 2rem">
        <label style="padding-bottom: 1rem">CPF</label>
        <input
          type="cpf"
          class="form-control"
          placeholder="000.000.000-00"
          formControlName="cpf"
        />
      </div>

      <div class="form-group" style="margin-bottom: 2rem">
        <label style="padding-bottom: 1rem">NAME</label>
        <input
          type="name"
          class="form-control"
          placeholder="Digite seu nome"
          formControlName="name"
        />
      </div>

      <div class="form-group" style="margin-bottom: 2rem">
        <label style="padding-bottom: 1rem">INCOME</label>
        <input
          type="income"
          class="form-control"
          placeholder="000"
          formControlName="income"
        />
        [deve ser maior que ou igual à 1000]
      </div>

      <div class="form-group" style="margin-bottom: 2rem">
        <label style="padding-bottom: 1rem">LOCATION</label>
        <input
          type="location"
          class="form-control"
          placeholder="SP"
          formControlName="location"
        />
      </div>

      <button class="btn btn-primary" (click)="sent()">Enviar</button>
    </form>
  </div>

  <div *ngIf="respostaBack" style="margin-top: 15rem; margin-left: 5rem">
    {{ respostaBack.customer }}

    <div *ngFor="let emprestimo of respostaBack.loans">
      Emprestimo liberado: {{ emprestimo.type }} <br />
      Taxa de juros: {{ emprestimo.interestRate }}%
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
